---
import VueCounter from "../components/VueCounter.vue";
export async function getStaticPaths() {
  const pages = [
    {
      slug: undefined,
      title: "Astro Store",
      text: "Welcome to the Astro store!",
    },
    {
      slug: "products",
      title: "Astro products",
      text: "We have lots of products for you",
    },
    {
      slug: "products/astro-handbook",
      title: "The ultimate Astro handbook",
      text: "If you want to learn Astro, you must read this book.",
    },
  ];
  return [
    {
      params: { anything: "here" },
      props: { pages },
    },
  ];
}

const { pages } = Astro.props;
const info = pages[2];
---

<html>
  <head>
    <title>{info.title}</title>
  </head>
  <body>
    <h1>{info.title}</h1>
    <p>{info.text}</p>
    <VueCounter client:only />
  </body>
</html>
